
/* Center the form */
.container {
    text-align: center;
    padding-top: 20px;
}

/* Style the form header */
header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Style the form section */
#workout-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

/* Style the exercise form */
.exercise-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
}

/* Style the buttons */
.btn-success {
    margin-right: 10px;
}

/* Style the exercise input fields */
.form-group {
    margin-bottom: 10px;
}

/* Style for workout cards */
.workout-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.workout-card:hover {
    background-color: #f0f0f0;
}

.workout-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workout-title {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

/* Style for workout details */
.workout-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    margin-top: 10px;
}

.workout-details p {
    margin: 5px 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .workout-card {
        width: 100%;
        height: auto;
    }
}
