/* Custom CSS for Navbar */
.custom-navbar {
    background-color: #007bff;
}

.custom-navbar .navbar-brand {
    color: #007bff;
}

.custom-navbar .navbar-nav .nav-link {
    color: #007bff;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f0f0f0;
}

.workoutDetails {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f0f0f0;
    display: none;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#user-info {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#user-info h1 {
    font-size: 24px;
    color: #007bff;
}

.initial-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 100%;
}

.workout-card {
    max-width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}

.workout-card:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.workout-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.workout-title {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.detailed-view {
    display: none;
    padding: 10px;
}

.details-container {
    display: none;
}

.detailed-view p {
    margin: 5px 0;
    font-size: 16px;
}

.btn-primary {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
}

.btn-primary:hover {
    background-color: #cc5500; /* Darker orange on hover */
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #888888;
    font-size: 14px;
}

.centered-text {
    text-align: center;
}

/* Style the workout details container */
.workoutDetails {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

/* Style the workout details headings */
.workoutDetails h3 {
    font-size: 1.5em;
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
}

/* Modify the CSS to style the exercise table */
.exercise-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.exercise-table th,
.exercise-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.exercise-table th {
    background-color: #f2f2f2;
}

.exercise-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.exercise-table tr:nth-child(odd) {
    background-color: #fff;
}

/* Style the sets and reps formatting */
.sets-reps {
    font-weight: bold;
    margin-right: 5px;
}

/* Style the exercise details formatting */
.exercise-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

/* Updated styles for exercise details */
.exercise-details p {
    margin: 0;
}

/* Style the sets and reps list */
.sets-reps-list {
    margin-left: 20px;
}

/* Style each set and rep item */
.sets-reps-list-item {
    display: inline-block;
    margin-right: 5px;
}

/* Add this to your CSS file */
.crossed-out {
    text-decoration: line-through;
    color: #999;
}

/* Style for the exercise list within workoutDetails */
#exerciseList {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.exercise-form {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    padding: 20px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}



